---
---

@import "{{ site.theme }}";

a {
  text-decoration: underline;
  text-underline-position: under;
  color: #4300cc;

  &:hover, &:focus, &:active {
    outline: solid 0.1rem #4300cc;
    color: #fff;
    background-color: #4300cc;
  }
}
