---
---

@import "{{ site.theme }}";

/* Global */

body {
  color: #333;
}

a {
  text-decoration: underline;
  text-underline-position: under;
  color: #4300cc;

  &:hover, &:focus, &:active {
    outline: solid 0.1rem #4300cc;
    color: #fff;
    background-color: #4300cc;
  }
}

/* Page Header */

.page-header {
  max-width: 65rem;
  margin: 0 auto;
  color: #333;
  text-align: left;
  background-color: #fff;
  background-image: none;
}

.project-name {
  display: block;
  width: 100%;
  padding: 1rem;
  font-weight: bold;
}

.project-tagline {
  display: block;
  width: 100%;
  padding: 1rem;
  font-weight: 400;
}
